@model _4SeminarskiRad.Models.Enrollment

@{
    ViewBag.Title = "Predbilježba uspješno izvršena!";
}


<p><br /></p>
<h2>Predbilježba uspješno izvršena!</h2>
<p><br /></p>
<p><br /></p>
<p><br /></p>


<p>
    @Html.ActionLink("Povratak", "Index2", "Courses")
</p>
